{% extends "base.html" %}
{% block content %}

        <h1>User Login</h1>
        {% if user.is_authenticated %}
            <p>You are currently logged in as {{ user.username }}.</p>
            <p>Fill out this form if you want to switch user...</p>
        {% endif %}
        {% if message %}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endif %}

        <form action="/auth/" method="post" class="form-inline">
            {% csrf_token %}
            {{ form.as_p }}
            <p>{% include "submit_button" %}</p>
        </form>
        <p>Don't have an account? <a href="/create_account/">Create an account</a>.</p>

{% endblock %}